/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5-Mar-2015, 5:04:13 PM
    Author     : George
*/

.wheatBox{
    //box-shadow: 5px 5px 5px 5px;
    //border-radius: 5px;
    //background: wheat;
    background-image: url("../images/scroll.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 1.5em;
}

.wheatBox.desc{
    width: 100%;
}

.center{
    text-align: center;
}

.floatLeft{
    float: left;
}

.desc p{
    text-indent: 50px;
}

.content{
    padding: 0em 1.5em 0em 1.5em;
    margin-bottom: 5%;
}

.content p{
   background-color: rgba(255,255,255,0.2);
   color: #000;
}

.button{
    background-color: #00A0EB;
    border-radius: 15px 15px 15px 15px;
    border-color: #888888;
    border-style: outset;
    border-width: 2px;
    //box-shadow: 0px 0px 5px 0px #888888 inset;
    display: inline-block;
    padding: 0.5em 0.5em;
    margin: 0.1em;
    
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
}

.button a{
    font-size: 0.9em;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
}

.button:hover{
    border-style: inset;
    background-color: #007DB8;    
}


.fullWidth{
    width: 100%;
}

.halfWidthPadded{
    width: 44%;
}

.thirdWidth{
    width: 20%;
}

.hidden{
    display: none;
}


.center{
    text-align:center;
}

.error_message
{
    color: #FF0000;
}

.padded{
    padding: 1%;
}

.box
{
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 10px 10px 5px #888888;
    border-color: black;
    background-color: #00A0EB;
    margin-top: 2em;
}