/*
Styles for the profile page
*/
/* 
    Created on : 7-Mar-2015
    Author     : Edward "Beast Mode" Leung
*/





#profile-pic-text{
    float:left;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
#profile-pic{
    float: left;
    margin-left: auto;   
    margin-right: auto;
    margin-top: 20px;
    
}
#profile-pic img{
    float: left;
    margin-left: auto;   
    margin-right: auto;
    margin-bottom: 10px;
    height:168px;
    width: 168px;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
}
#profile-info{
    float:left;
    width:80%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;  
    border-color: #000;
    border-style: solid;
    border-width: 2px;

}

#profile-right{
    float: left;
    margin-top: 20px;
}